<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdFree</key>
	<integer>0</integer>
	<key>GameResults</key>
	<array/>
	<key>XInitializerItem</key>
	<string>DoNotEverChangeMe</string>
	<key>DataPopulated</key>
	<integer>0</integer>
	<key>EventsUpdate</key>
	<date>2015-08-14T18:27:30Z</date>
	<key>OkScore</key>
	<integer>0</integer>
	<key>GoodScore</key>
	<integer>0</integer>
	<key>LoveScore</key>
	<integer>0</integer>
	<key>Level</key>
	<integer>1</integer>
	<key>Tags</key>
	<string></string>
</dict>
</plist>
